body{
    background-color: lightgray;
}
div{
    height: 75px;
}
h1{
    position: fixed;
    width: 200px;
    height: 50px;
    background-color: blanchedalmond;
}
h2{
    font-size: 15px;
}
.post{
    width: 150px;
    height: 100px;
    background-color: gray;
border: 2px solid black;
padding:50px;
margin: 10px;
}
button{
    font-size: 20px;
}
span{
    font-size: 10px;
}